body {
	padding: 60px 20px 30px;
}

#tabs span.glyphicon {
	color: white;
}

.alert-hidden {
	display: none;
}

.modal-header {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#696969), to(#424242));
	background-image: -webkit-linear-gradient(top, #696969, 0%, #424242, 100%);
	background-image: -moz-linear-gradient(top, #696969 0%, #424242 100%);
	background-image: linear-gradient(to bottom, #696969 0%, #424242 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff696969', endColorstr='#ff424242', GradientType=0);
	color: #f8f8f8;
}

.modal-header button {
	color: #f8f8f8;
}

.modal-header button:hover {
	color: #f8f8f8;
}

.modal-footer {
	background-color: #f2f2f2;
}

.nav-header {
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: bold;
	color: #888;
	padding-top: 5px;
}

/* fix for IE10 */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

.modal {
	overflow:auto;
}