/* Desktop */
@media (max-width: 980px) {
	body > .navbar-fixed-top .brand {
		float: left;
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
}

/* Tablet to desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body {
		padding-top: 0;
	}
}

/* Tablet */
@media (max-width: 767px) {
	body {
		padding-top: 0;
	}
}

/* Landscape phone */
@media (max-width: 480px) {
	body {
		padding-top: 0;
	}

	h2 small {
		display: block;
	}
}